.contest {
  padding-top: 45px;
}

.contest__lead {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: @white;
  text-align: center;
  line-height: 30px;
  font-size: @baseFontSize;
  margin: 0 auto;

  & p {
    margin: 0;
  }
}

.contest__inner {
  padding-top: 10px;
  padding-bottom: 15px;
}
