@main-color: #283645;
@white: #ffffff;
@blue: #283645;
@grey: #f2f2f2;
@darkgrey: #3e5063;
@black: #000000;

body {
  width: 320px;
  color: @blue;
}

.page-header {
  background-color: @main-color;
  color: @white;
}

.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0;
  color: @white;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__item {
  height: 63px;
  width: 320px;
  text-align: center;
  vertical-align: center;
  border-bottom: 1px solid @black;
  border-top: 1px solid @darkgrey;
}

.main-nav__toggle {
  height: 66px;
  background-color: @main-color;
  border-bottom: 1px solid @black;
}

.main-nav__link {
  color: @white;
  font-size: 18px;
  text-decoration: none;
}

.page-header__logo--image {
  position: relative;
}

.page-header__logo--image2 {
  position: absolute;
  top: 508px;
}

.downloads {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: @white;
  background-color: @main-color;
}

.downloads__type {
  color: @white;
  display: flex;
  width: 225px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 22px;
  margin-left: 52px;
}

.downloads__title--wrap {
  width: 281px;
  height: 50px;
  text-align: center;
  margin-left: 19px;
  margin-top: 28px;
  border: 3px solid @white;
  border-radius: 45px;
}

.downloads__info {
  height: 45px;
  width: 245px;
  margin-right: 45px;
  margin-bottom: 32px;
  margin-left: 41px;
}

.offers__area {
  background-color: @white;
  height: 217px;
  font-size: 24px;
}

.offers__value {
  display: flex;
  flex-direction: column;
  background-color: @grey;
  font-size: 14px;
}
//СТИЛИ ДЛЯ photo

.preview-page__image {
  position: relative;
}

.preview-page__title {
  position: absolute;
  top: 360px;
  left: 75px;
  width: 100%;
  color: @white;
  font-size: 24px;
}
